<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skill3</title>
    <link rel="stylesheet" href="CSS/about-us_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
    <!-- <div id="header">
        <img src="images\Final_logo.svg">
        <form >
            <input type="submit" value="Progression"   id="loginButton">
            <input type="submit" value="How does it work"   id="loginButton">
            <input type="submit" value="Log In"   id="loginButton">
            <input type="submit" value="Log out"   id="logoutButton">
        </form>
    </div> -->
    <div class="top-menu" id="topnav">
        <a href="/">
            <img class="logo" src="images\Final_logo.svg">
        </a>
        <modal class="hamburgerModal">
            <div id="hamburgerModalContent">
                <span class="close-button" id="hamburger-close-button">&times;</span>
                <div class="link-container hamburgerModalBody">
                    
                    <a class="progression" href="/profile">Progression</a>
                    <a class="how" href="/howItWorks">How does it work?</a>
                    <a class="about" href="/aboutUs">About us</a>
                    <!-- <form action="" method="get" id="logout-form">
                        <input type="submit" value="Log In" class="logout-btn">
                    </form>  -->
                    <a type="button" class="logout-btn" href="/logout">Log out</a>
                </div>
            </div>
        </modal>
        <a href="javascript:void(0);" class="icon" onclick="toggleHamburgerModal()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    <!-- <div class="top-menu" id="topnav">
        <a href="/">
            <img class="logo" src="images\Final_logo.svg">
        </a>
        <form>
            <a class="progression" href="#progression">Progression</a>
            <a class="how" href="#how">How does it work?</a>
            <a class="about" href="#about">About us</a>
            <a type="button" class="logout-btn">Log out</a>
            <a href="javascript:void(0);" class="icon" onclick="toggleHamburgerModal()">
                <i class="fa fa-bars"></i>
            </a>
        </form>
    </div> -->

    <div id="main">

        <div id="text-container">
            <h1>About us</h1>
            <h2>Who are we?</h2>
            <p>
                5 friends who have common interests in different things, we wanted to be creative and challenge ourselves in every-day life activities.
                Stay tuned for more improvements in our app!
            </p>
        </div>

        <div id="cards">
            <div class="people kacper">
                <img src="images\kacper.png" alt="">
                <h1>WellyBelly</h1>
                <p>WellyBelly is our Passport expert</p>
            </div>
            <div class="people eero">
                <img src="images\eero.png" alt="">
                <h1>Eehe</h1>
                <p>Eehe knows</p>
            </div>

            <div class="break"></div>

            <div class="people vadim">
                <img src="images\vadim.png" alt="">
                <h1>OxCone</h1>
                <p>OxCone is JS's king</p>
            </div>
            <div class="people anibal">
                <img src="images\anibal.png" alt="">
                <h1>PortalFan</h1>
                <p>PortalFan and html/css are besties </p>
            </div>

            <!-- <div class="break"></div> -->

            <div class="people marion">
                <img src="images\marion.png" alt="">
                <h1>Clarks</h1>
                <p>Clarks likes to learn</p>
            </div>
        </div>

    </div>

    <footer id="footer">
        <span>© The Existence Stewards 2022</span>
        <span>|</span>
        <a href="/aboutUs">About us</a>
        <span>|</span>
        <a href="/faq">FAQ</a>
    </footer>

</body>

<script>

    $(window).resize(function() {
      if (window.innerWidth <= 768) {
          $('.hamburgerModal').addClass('transition')
      } else {
          $('.hamburgerModal').removeClass('transition')
      }
    });

    function toggleHamburgerModal() {
        $(".hamburgerModal").toggleClass("show-modal-hamburger");
    };

    $(document).ready(function() {
        $("#hamburger-close-button").click(function() {
            $('.hamburgerModal').toggleClass("show-modal-hamburger");
        });
    });

    function outsideClick() {
        $(document).click(function(event) {
            if ($(event.target).hasClass("hamburgerModal")) {
                $('.hamburgerModal').removeClass("show-modal-hamburger");
            }
        });
    }

    addEventListener('click', outsideClick)
</script>

</html>