<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/faq.css">
</head>
<body>
    <div id="header">
        <a href="/">
            <img src="../public/images\Final_logo.svg">
        </a>
        <div class="buttonContainer">
            <form action="/login" method="get" id="loginForm">
                <input type="submit" value="Log In" id="loginButton">
            </form>
            <form action="/register" method="get" id="signupForm">
                <input type="submit" value="Sign Up" id="signupButton">
            </form>
        </div>
    </div>
    <div id="main">
        <div id="title">Frequently asked questions</div>
        <div class="qa-container">
            <span class="question">How do I log in hours?</span>
            <span class="answer">By clicking the "Add Progress" button in the profile page</span>
        </div>
        <div class="qa-container">
            <span class="question">How do I add friends?</span>
            <span class="answer">That's a feature that's to be implemented</span>
        </div>
        <div class="qa-container">
            <span class="question">Can I recover my password in case I forget it?</span>
            <span class="answer">As of now there is no way to recover a forgotten password</span>
        </div>
        <div class="qa-container">
            <span class="question">Is cheating prevented in any way?</span>
            <span class="answer">No. The only prevention is that is not possible to log over 24 hours of work in one day. Cheating here is the same as cheating in a diary, pointless</span>
        </div>
        <div class="qa-container">
            <span class="question">Is there an end to the game?</span>
            <span class="answer">You'll have to discover it yourself ;)</span>
        </div>
    </div>
    <footer id="footer">
        <span>© The Existence Stewards 2022</span>
        <span>|</span>
        <a href="">About us</a>
        <span>|</span>
        <a href="">FAQ</a>
    </footer>
</body>
</html>