<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="CSS/faq.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>
<body>
    <div id="header">
        <a href="/">
            <img src="images\Final_logo.svg">
        </a>
        <modal class="hamburgerModal">
            <div id="hamburgerModalContent">
                <span class="close-button" id="hamburger-close-button">&times;</span>
                <div class="link-container hamburgerModalBody">
                    
                    <a class="progression" href="/profile">Progression</a>
                    <a class="how" href="/howItWorks">How does it work?</a>
                    <a class="about" href="/aboutUs">About us</a>
                    <!-- <form action="" method="get" id="logout-form">
                        <input type="submit" value="Log In" class="logout-btn">
                    </form>  -->
                    <a type="button" class="logout-btn" href="/logout">Log out</a>
                </div>
            </div>
        </modal>
        <a href="javascript:void(0);" class="icon" onclick="toggleHamburgerModal()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <div id="main">
        <div id="title">Frequently asked questions</div>
        <div class="qa-container">
            <span class="question">How do I log in hours?</span>
            <span class="answer">By clicking the "Add Progress" button in the profile page</span>
        </div>
        <div class="qa-container">
            <span class="question">How do I add friends?</span>
            <span class="answer">That's a feature that's to be implemented</span>
        </div>
        <div class="qa-container">
            <span class="question">Can I recover my password in case I forget it?</span>
            <span class="answer">As of now there is no way to recover a forgotten password</span>
        </div>
        <div class="qa-container">
            <span class="question">Is cheating prevented in any way?</span>
            <span class="answer">No. The only prevention is that is not possible to log over 24 hours of work in one day. Cheating here is the same as cheating in a diary, pointless</span>
        </div>
        <div class="qa-container">
            <span class="question">Is there an end to the game?</span>
            <span class="answer">You'll have to discover it yourself ;)</span>
        </div>
    </div>
    <footer id="footer">
        <span>© The Existence Stewards 2022</span>
        <span>|</span>
        <a href="/aboutUs">About us</a>
        <span>|</span>
        <a href="/faq">FAQ</a>
    </footer>
</body>

<script>

    $(window).resize(function() {
      if (window.innerWidth <= 768) {
          $('.hamburgerModal').addClass('transition')
      } else {
          $('.hamburgerModal').removeClass('transition')
      }
    });

    function toggleHamburgerModal() {
        $(".hamburgerModal").toggleClass("show-modal-hamburger");
    };

    $(document).ready(function() {
        $("#hamburger-close-button").click(function() {
            $('.hamburgerModal').toggleClass("show-modal-hamburger");
        });
    });

    function outsideClick() {
        $(document).click(function(event) {
            if ($(event.target).hasClass("hamburgerModal")) {
                $('.hamburgerModal').removeClass("show-modal-hamburger");
            }
        });
    }

    addEventListener('click', outsideClick)
</script>

</html>