<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/how-it-works_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>
<body>
    <!-- <div id="header">
        <img src="images\Final_logo.svg">
        <form >
            <input type="submit" value="Progression"   id="loginButton">
            <input type="submit" value="How does it work"   id="loginButton">
            <input type="submit" value="Log In"   id="loginButton">
            <input type="submit" value="Log out"   id="logoutButton">
        </form>
    </div> -->

    <div class="top-menu" id="topnav">
        <a href="/">
            <img class="logo" src="../public/images\Final_logo.svg">
        </a>
        <modal class="hamburgerModal">
                <div id="hamburgerModalContent">
                <span class="close-button" id="hamburger-close-button">&times;</span>
                <div class="link-container hamburgerModalBody">
                    
                    <a class="progression" href="#progression">Progression</a>
                    <a class="how" href="#how">How does it work?</a>
                    <a class="about" href="#about">About us</a>
                    <!-- <form action="" method="get" id="logout-form">
                        <input type="submit" value="Log In" class="logout-btn">
                    </form> -->
                    <a type="button" class="logout-btn">Log out</a>
                </div>
            </div>
        </modal>
        <a href="javascript:void(0);" class="icon" onclick="toggleHamburgerModal()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    <div id="main">

        <div id="text-container">
            <h1>How does it work?</h1>
            <h2>Let's see together how you can Level up!</h2>
        </div>

        <div id="cards">
            <div class="explanation img1">
                <img src="../public/images\1.png" alt="">
                <div class="text">
                    <h1>Step 1</h1>
                    <p>On your profile page, you can see all the categories that you can use to track your activities.
                        After doing some Strength activity, or something that goes into the Intelligence category, enter your
                        minutes with the "Add progress" button.
                    </p>
                </div>
            </div>
            <div class="explanation img2">
                <img src="../public/images\2.png" alt="">
                <div class="text">
                    <h1>Step 2</h1>
                    <p>When you have entered your minutes, you can see the Level up-bar gets fuller and fuller.
                        Enter more minutes to go to the next level!
                    </p>
                </div>
            </div>
            <div class="explanation img3">
                <img src="../public/images\3.png" alt="">
                <div class="text">
                    <h1>Step 3</h1>
                    <p>See on your profile card your Level, and check what is your highest score.
                        Tip: to get a higher score, you can try new activities.
                        Enjoy! 
                    </p>
            </div>
        </div>

    </div>

    <footer id="footer">
        <span>© The Existence Stewards 2022</span>
        <span>|</span>
        <a href="">About us</a>
        <span>|</span>
        <a href="">FAQ</a>
    </footer>






</body>

<script>

    $(window).resize(function() {
      if (window.innerWidth <= 768) {
          $('.hamburgerModal').addClass('transition')
      } else {
          $('.hamburgerModal').removeClass('transition')
      }
    });

    function toggleHamburgerModal() {
        $(".hamburgerModal").toggleClass("show-modal-hamburger");
    };

    $(document).ready(function() {
        $("#hamburger-close-button").click(function() {
            $('.hamburgerModal').toggleClass("show-modal-hamburger");
        });
    });

    function outsideClick() {
        $(document).click(function(event) {
            if ($(event.target).hasClass("hamburgerModal")) {
                $('.hamburgerModal').removeClass("show-modal-hamburger");
            }
        });
    }

    addEventListener('click', outsideClick)


</script>

</html>