<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="profile_style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
<div class="grid-container">
    <!-- <div class="profile-top-menu">
        <a class="progression" href="#progression">Progression</a>
        <a class="how" href="#how">How does it work?</a>
        <a class="about" href="#about">About us</a>
        <button class="logout-btn">Log out</button>
    </div> -->

    <div class="profile-top-menu">
        <ul>
            <img src="Final_logo_big.png">
            <li>
                <button class="logout-btn">Log out</button>
            </li>
            <li class="dropdown">
                <a class="drpdwn" href="#progression">Progression</a>
            </li>
            <li class="dropdown">
                <a class="drpdwn" href="#about">How does it work?</a>
            </li>
            <li class="dropdown">
                <a class="drpdwn" href="#normandy">About us</a>
            </li>

        </ul>
    </div>

    <div class="top-text">
        <h1>Bonjour</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum temporibus nobis, cum cumque aperiam expedita, officia perspiciatis laboriosam ad laborum fugiat. Rerum, magni sint? Suscipit porro aliquam in tenetur quibusdam!</p>
    </div>

    <div class="elements">
        <div class="element strength">
            <p class="title strenght">Strength</p>
            <p class="level strenght">Lvl</p>
            <input type="button" value="Add progress" class="btn-progress strenght">
            <p class="xp strength">1/120 XP</p>
            <div class="progress-bar__container" style="box-shadow: 0 0 5px rgba(222, 29, 51, 1)"></div>
            <div class="progress-bar" style="background-color: rgba(222, 29, 51, 1)"></div>
        </div> <br>
        <div class="element endurance">
            <p class="title endurance">Endurance</p>
            <p class="level endurance">Lvl</p>
            <button class="btn-progress endurance">Add progress</button>
            <p class="xp endurance">1/120 XP</p>
            <div class="progress-bar__container" style="box-shadow: 0 0 5px rgba(81, 194, 71, 1)"></div>
            <div class="progress-bar" style="background-color: rgba(81, 194, 71, 1)"></div>
        </div> <br>
        <div class="element intelligence">
            <p class="title intelligence">Intelligence</p>
            <p class="level intelligence">Lvl</p>
            <button class="btn-progress intelligence">Add progress</button>
            <p class="xp intelligence">1/120 XP</p>
            <div class="progress-bar__container" style="box-shadow: 0 0 5px rgba(56, 102, 174, 1)"></div>
            <div class="progress-bar" style="background-color: rgba(56, 102, 174, 1)"></div>
        </div> <br>
        <div class="element charisma">
            <p class="title charisma">Charisma</p>
            <p class="level charisma">Lvl</p>
            <button class="btn-progress charisma">Add progress</button>
            <p class="xp charisma">1/120 XP</p>
            <div class="progress-bar__container" style="box-shadow: 0 0 5px rgba(185, 58, 217, 1)"></div>
            <div class="progress-bar" style="background-color: rgba(185, 58, 217, 1)"></div>
        </div> <br>
        <div class="element crafting">
            <p class="title crafting">Crafting</p>
            <p class="level crafting">Lvl</p>
            <button class="btn-progress crafting">Add progress</button>
            <p class="xp crafting">1/120 XP</p>
            <div class="progress-bar__container" style="box-shadow: 0 0 5px rgba(178, 123, 77, 1)"></div>
            <div class="progress-bar" style="background-color: rgba(178, 123, 77, 1)"></div>
        </div> <br>
        <div class="element agility">
            <p class="title agility">Agility</p>
            <p class="level agility">Lvl</p>
            <button class="btn-progress agility">Add progress</button>
            <p class="xp agility">1/120 XP</p>
            <div class="progress-bar__container" style="box-shadow: 0 0 5px rgba(71, 194, 175, 1)"></div>
            <div class="progress-bar" style="background-color: rgba(71, 194, 175, 1)"></div>
        </div> <br>
    </div>
    <div class="profile-card">
        <div class="profile">
            <img src="pfp.png">
            <h1>Dude McDavid</h1>
            <p>Strongest Stat</p>
            <p>Total Experience</p>
        </div>
    </div>
    <div class="profile-footer">
        <span>@The Existence Stewards 2022 | About Us | FAQ</span>
    </div>
</div>  
</body>
</html>