body { 
    font-family: 'Chivo', sans-serif;
    margin: 0;
}

:root {
    --main-yellow: rgba(255, 201, 43, 1);
    --dirty-white: rgba(226, 230, 233, 1);
}

::selection {
    background: rgba(255, 201, 43, 1)
}

.top-menu {
    background-color: var(--main-yellow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    width: auto;
    padding: 0 5vw;
}

.top-menu a, img {
    height: 58%;
}

.top-menu a {
    font-size: .9rem
}

.link-container {
    display: flex;
    align-items: center;
}

.top-menu img {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}
        
.link-container a:not(.logout-btn) {
    text-decoration: none;
    margin-left: 1em;
    margin-right: 1em;
    padding: 10px;

    position: relative;
    color: rgba(0, 0, 0, 1);
    font-size: 1.1rem 
}

.link-container a:not(.logout-btn):after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 1);
    transform-origin: center;
    transition: transform 0.25s ease-out 
}

.link-container a:not(.logout-btn):hover:after {
    transform: scaleX(1);
    transform-origin: center 
}

.top-menu img {
    /* width: 15%; */
    /* margin-top: .7rem; */
    margin-left: .1rem 
}

.logout-btn {
    float: right;
    position: relative;
    border-radius: 25px;
    border: 1px solid black;
    background-color:var(--main-yellow);
    padding: 5px 30px;
    text-align: center;
    /* font-size: 1.25rem; */
    font-size: 1.8vh;
    font-family: 'Chivo', sans-serif 

    /* width: 100%;
    height: 100%;
    color: black; */
}

.logout-btn:hover {
    background-color: black;
    color: var(--main-yellow);
    cursor: pointer;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    height: auto;
    padding: 10vh 7.5vw;
    padding-bottom: 6vh;
}

#text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10vh;
    text-align: center;
}

#text-container > h1 {
    width: 100%;
    margin: 0;
    font-size: 80px;
}

#text-container > h2 {
    /* margin: 0; */
    width: 100%;
    font-size: 3.75vh;
}

#cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10vh;
}

.break {
    flex-basis: 100%;
    width: 0;
    height: 5vh;
}

.explanation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5vh;
    /* padding-left: 20vh; */
}

.text {
    flex: 1 1 400px;
    align-items: center;
    width: auto;
    max-width: 1000px;
}

.text h1, p {
    text-align: left;
    padding-left: 50px;
}

.text p {
    font-size: 1.2rem;
}

.explanation img {
    flex: 1 1 400px;
    border-radius: 25px;
    box-shadow: 0 0 3px;
    width: 250px;
}

#footer {
    bottom: 0;
    height: 4vh;
    padding-left: 7.5vw;
}

#footer >* {
    font-size: 1.5vh;
    text-decoration: none;
    color: black;
}

#footer > a:hover {
    color:  var(--main-yellow);
}

/* Hamburger */

.show-modal-hamburger {
    opacity: 1;
    visibility: visible;
}

.show-modal-hamburger > #hamburgerModalContent {
    right: 0;
}




@media screen and (max-width: 768px){
        /* Hamburger */

    a.icon {
        float: right;
        display: block;
        color: black; 
    }

    .profile-top-menu a {display: none}

    .hamburgerModal {
        position: fixed;
        display: flex;
        justify-content: flex-end;
        right: 0;
        top: 0;
        z-index: 1;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transition: visibility 0.5s, opacity 0.25s;
        user-select: none;
    }

    #hamburgerModalContent {
        position: absolute;
        display: flex;
        right: -100%;
        flex-direction: column;
        height: 100vh;
        background-color: var(--main-yellow);

        
        transition: right 0.5s
    }

    #hamburgerModalContent a:not(.logout-btn) {
        text-align: center;
        text-decoration: none;
        float: right;
        margin-left: 1em;
        margin-right: 1em;
        padding: 10px;

        position: relative;
        color: rgba(0, 0, 0, 1);
        font-size: 1.1rem }

    #hamburgerModalContent a:not(.logout-btn):after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 1);
        transform-origin: center;
        transition: transform 0.25s ease-out }

    #hamburgerModalContent a:not(.logout-btn):hover:after {
        transform: scaleX(1);
        transform-origin: center }

    #hamburgerModalBody {
        display: flex;
        justify-content: space-between;
        height: 25%;
    }

    #hamburger-close-button {
        border: 1px solid black;
        background-color: black;
        color: var(--dirty-white);
    }

    #hamburger-close-button:hover {
        background-color: var(--main-yellow);
        color: black;
        border: 1px solid black;
    }

    #hamburgerModalBody {
        display:flex;
        flex-direction: column;
    }

}
    
