div {
    border: 0px solid black
}

:root {
    --main-yellow: rgba(255, 201, 43, 1);
    --dirty-white: rgba(226, 230, 233, 1);
}

::selection {
    background: rgba(255, 201, 43, 1)
}

@font-face {
    font-family: Chivo Regular;
    src: url("../public/css/font/Chivo-Regular.ttf");
}

body {
    margin: 0;
    padding: 0;
    font-family: "Chivo Regular";
}

#header {
    background-color: var(--main-yellow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    width: auto;
    padding: 0 5vw;
}

#header > a, div {
    height: 58%;
}

#header > a > img {
    height: 100%
}

#header > .buttonContainer {
    display: flex;
    justify-content: space-between;
    width: 26%;
}

.buttonContainer > form {
    width: 45%;
    height: 100%;
}

#loginButton {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 25px;
    background-color: var(--main-yellow);
    font-size: 1.8vh;
    color: black;
}

#loginButton:hover {
    background-color: black;
    color: var(--main-yellow);
    cursor: pointer;
}

#signupButton {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 25px;
    background-color: black;
    font-size: 1.8vh;
    color: var(--dirty-white);
}

#signupButton:hover {
    color: var(--main-yellow);
    cursor: pointer;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 115vh;
    padding: 10vh 7.5vw;
}

#main > h1 {
    margin: 0;
    font-size: 7.5vh;
    text-align: center;
}

#main > #logoMain {
    width: 36vw;
}

#main > span {
    text-align: center;
    font-size: 2.9vh;
}

#main > form {
    width: 24vw;
    height: 8vh;
}

#main > form > #signupButtonMain {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 25px;
    background-color: black;
    font-size: 2vw;
    color: var(--dirty-white);
}

#main > form > #signupButtonMain:hover {
    color: var(--main-yellow);
    cursor: pointer;

}

#main > #mockupMain {
    width: 56vw;
}

@media screen and (max-width: 1024px) {
    #main {
        height: 90vh;
    }
}

@media screen and (max-width: 768px) {

    .buttonContainer > form {
        width: 100%;
    }
    
    #signupForm {
        display: none;
    }

    #main {
        height: 90vh;
    }

    #main > form {
        width: 70vw;
        height: 8vh;
    }

    #main > form > #signupButtonMain {
        font-size: 5.2vw;
    }

    #main > #mockupMain {
        width: 100%;
    }
}

@media screen and (max-width: 426px) {

    #main {
        height: 80vh;
    }

    #main > h1 {
        display: none;
    }

    #main > #logoMain {
        width: 100%;
    }
}

@media screen and (max-width: 376px) {

    #main {
        height: 70vh;
    }

    #main > form > #signupButtonMain {
        font-size: 7vw;
    }
}